body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #100621;
    color: white;
}

.container {
    text-align: center;
}

.pokemon-info {
    margin-top: 20px;
}
